@model LedgerCreateModel

<div class="container mt-4">
    <div class="card bg-light">
        <div class="card-body">
            <form action="/Home/Index" method="post">
                @* 防止跨網站偽造要求 *@
                @Html.AntiForgeryToken()
                <div class="row mb-3">
                    <label asp-for="LedgerCategory" class="col-sm-2 col-form-label">類別</label>
                    <div class="col-sm-10">
                        <select asp-for="LedgerCategory" id="LedgerCategory" name="LedgerCategory" class="form-select">
                            <option value="" selected>請選擇</option>
                            <option value="1">支出</option>
                            <option value="0">收入</option>
                        </select>
                        <span asp-validation-for="LedgerCategory" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="LedgerAmount" class="col-sm-2 col-form-label">金額</label>
                    <div class="col-sm-10">
                        <input asp-for="LedgerAmount" type="text" class="form-control" id="LedgerAmount" name="LedgerAmount" placeholder="金額">
                        <span asp-validation-for="LedgerAmount" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="LedgerDate" class="col-sm-2 col-form-label">日期</label>
                    <div class="col-sm-10">
                        <input asp-for="LedgerDate" type="date" class="form-control" id="LedgerDate" name="LedgerDate" placeholder="日期">
                        <span asp-validation-for="LedgerDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="LedgerNote" class="col-sm-2 col-form-label">備註</label>
                    <div class="col-sm-10">
                        <textarea asp-for="LedgerNote" class="form-control" id="LedgerNote" name="LedgerNote" rows="3"></textarea>
                        <span asp-validation-for="LedgerNote" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">送出</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @Html.Partial("DataList", ViewData["LedgerData"])
</div>
